<%- include('../include/adminHeader.ejs') %>

<% 
if (typeof message !== 'undefined') {
    %>
    <p style="color: green; text-align: center;"><%= message %></p>
<%
}
%>

<section>
    <div class="container" style="min-height: 600px;">
        <div class="row mt-4">

            
            <a href="javascript:void(0);" class="btn btn-dark ml-auto mb-5" onclick="showAddCategoryPopup()">Add Category</a>
        </div>

        <table class="table table-striped table-bordered mt-5" id="peopleTable">
            <thead>
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% 
                if (data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        const offerValue = data[i].categoryOffer ? data[i].categoryOffer : 0;
                %>
                <tr>
                    <td><%= data[i].cname %></td>
                    <td><%= offerValue %></td>
                    <td>
    <a href="javascript:void(0);" class="btn btn-primary" onclick="editCategory('<%= data[i]._id %>', '<%= data[i].cname %>')">Edit</a>
    <% if (offerValue > 0) { %>
        <button class="btn btn-danger" onclick="removeOffer('<%= data[i]._id %>')">Remove Offer</button>
    <% } else { %>
        <button class="btn btn-success" onclick="showOfferPopup('<%= data[i]._id %>')">Add Offer</button>
    <% } %>
    <form class="d-inline" id="deleteButton<%= data[i]._id %>" action="/delete-category/<%= data[i]._id %>" method="POST">
        <button class="btn btn-danger deleteCategory" type="submit">Delete</button>      
    </form>
</td>


                </tr>
                <% 
                    }
                } else { 
                %>
                <tr>
                    <td colspan="4">No categories found.</td>
                </tr>
                <% 
                } 
                %>
            </tbody>
        </table>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/adminCategory.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../include/adminFooter.ejs') %>
